{
  "swagger": "2.0",
  "info": {
    "title": "Foo",
    "version": "2020-12-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{host}/{foo}/def_foo": {
      "get": {
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/def_foo"
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "foo",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/def_foo"
            }
          }
        ]
      },
      "delete": {}
    },
    "/{host}/{foo}/def_bar": {
      "post": {
        "parameters": [
          {
            "name": "foo",
            "in": "body",
            "schema": {
              "$ref": "../../preview/2020-12-01-preview/bar.json#/definitions/def_bar"
            }
          }
        ]
      }
    },
    "/{host}/{foo}/def_regular": {
      "get": {
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/def_regular"
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "name": "foo",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/def_regular"
            }
          }
        ]
      }
    },
    "/{host}/{foo}/def_base": {
      "put": {
        "parameters": [
          {
            "name": "foo",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/def_base"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "def_foo": {
      "properties": {
        "foo": {}
      }
    },
    "def_regular": {
      "properties": {
        "prop_primitive": {
          "type": "string"
        },
        "prop_array_of_primitive": {
          "type": "array",
          "items": {
            "type": "int"
          }
        },
        "prop_array_of_object": {
          "type": "array",
          "items": {
            "properties": {
              "prop_nested1": {},
              "prop_nested2": {}
            }
          }
        },
        "prop_object": {
          "type": "object",
          "properties": {
            "prop_nested": {
              "type": "string"
            }
          }
        }
      }
    },
    "def_prop_in_file_ref": {
      "properties": {
        "prop": {
          "$ref": "#/definitions/def_foo"
        }
      }
    },
    "def_prop_cross_file_ref": {
      "properties": {
        "prop": {
          "$ref": "./bar.json#/definitions/def_bar"
        }
      }
    },
    "def_prop_self_ref": {
      "properties": {
        "prop": {
          "$ref": "#/definitions/def_prop_self_ref"
        }
      }
    },
    "def_array_ref": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/def_foo"
      }
    },
    "def_in_file_ref": {
      "$ref": "#/definitions/def_foo"
    },
    "def_cross_file_ref": {
      "$ref": "./bar.json#/definitions/def_bar"
    },
    "def_self_ref": {
      "$ref": "#/definitions/def_self_ref"
    },
    "def_all_of": {
      "allOf": [
        {
          "properties": {
            "prop_nested": {}
          }
        },
        {
          "$ref": "./bar.json#/definitions/def_bar"
        },
        {
          "$ref": "#/definitions/def_all_of2"
        },
        {
          "$ref": "baz/baz.json#/definitions/def_all_of"
        }
      ],
      "properties": {
        "p1": {
          "allOf": [
            {
              "$ref": "./bar.json#/definitions/def_bar"
            }
          ],
          "properties": {
            "p1_1": {}
          }
        }
      }
    },
    "def_all_of2": {
      "allOf": [
        {
          "$ref": "#/definitions/def_foo"
        }
      ]
    },
    "def_base": {
      "discriminator": "type",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "def_variant1",
            "def_variant2"
          ]
        }
      }
    },
    "def_variant1": {
      "x-ms-discriminator-value": "def_variant1",
      "properties": {},
      "allOf": [
        {
          "$ref": "#/definitions/def_base"
        }
      ]
    },
    "variant2_def": {
      "x-ms-discriminator-value": "def_variant2",
      "properties": {},
      "allOf": [
        {
          "$ref": "#/definitions/def_base"
        }
      ]
    },
    "def_to_def_base": {
      "properties": {
        "prop": {
          "$ref": "#/definitions/def_base"
        }
      }
    },
    "def_base_template": {
      "discriminator": "type",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "def_variant1",
            "def_variant2"
          ]
        }
      }
    },
    "def_variant1_template": {
      "x-ms-discriminator-value": "def_variant1",
      "properties": {},
      "allOf": [
        {
          "$ref": "#/definitions/def_base_template"
        }
      ]
    },
    "def_variant2_template": {
      "x-ms-discriminator-value": "def_variant2",
      "properties": {},
      "allOf": [
        {
          "$ref": "#/definitions/def_base_template"
        }
      ]
    },
    "def_to_def_base_template": {
      "properties": {
        "prop": {
          "$ref": "#/definitions/def_base_template"
        }
      }
    },
    "def_cov": {
      "properties": {
        "p1": {},
        "p2": {
          "properties": {
            "p2_1": {},
            "p2_2": {}
          }
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "def_parent": {
      "discriminator": "type",
      "properties": {
        "type": {
          "type": "string"
        }
      }
    },
    "def_child1": {
      "properties": {},
      "allOf": [
        {
          "$ref": "#/definitions/def_parent"
        }
      ]
    },
    "def_child2": {
      "properties": {},
      "allOf": [
        {
          "$ref": "#/definitions/def_parent"
        }
      ]
    },
    "def_to_def_parent": {
      "properties": {
        "prop": {
          "$ref": "#/definitions/def_parent"
        }
      }
    },
    "def_to_remote_discriminator": {
      "properties": {
        "properties": {
          "$ref": "./remote/discriminator.json#/definitions/base"
        }
      }
    },
    "def_contain_ro": {
      "properties": {
        "p_primitive": {},
        "p_primitive_ro": {
          "readOnly": true
        },
        "p_obj_array": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/def_foo"
          }
        },
        "p_obj_array_ro": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/def_foo"
          }
        },
        "p_obj": {
          "$ref": "#/definitions/def_foo"
        },
        "p_obj_ro": {
          "readOnly": true,
          "$ref": "#/definitions/def_foo"
        }
      }
    },
    "def_grant_deprecated": {},
    "def_grant_update": {
      "properties": {
        "p_deprecated": {},
        "p1": {}
      }
    },
    "def_grant_still": {},
    "def_activity": {
      "discriminator": "type",
      "properties": {
        "type": {},
        "actor": {
          "$ref": "#/definitions/def_actor"
        }
      }
    },
    "def_grant_still": {},
    "def_contain_map": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "def_activity": {
      "discriminator": "type",
      "properties": {
        "type": {},
        "actor": {
          "$ref": "#/definitions/def_actor"
        }
      }
    },
    "def_activity_a": {
      "allOf": [
        {
          "$ref": "#/definitions/def_activity"
        }
      ]
    },
    "def_actor": {
      "discriminator": "type",
      "properties": {
        "type": {},
        "activity": {
          "$ref": "#/definitions/def_activity"
        }
      }
    },
    "def_actor_a": {
      "allOf": [
        {
          "$ref": "#/definitions/def_actor"
        }
      ]
    },
    "def_has_empty_object": {
      "properties": {
        "definition": {
          "$ref": "#/definitions/def_empty_object"
        }
      }
    },
    "def_empty_object": {
      "properties": {}
    }
  }
}
